* {
  margin: 0;
  padding: 0;
}

.labs {
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 195, 255, 0.516);
}
.lab {
  width: 20vw;
  height: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 40vw;
  width: 40vw;
}
.pausch-btn,
.tesla-btn,
.mc-carthy-btn,
.satoshi-btn {
  width: 100px;
  height: auto;
  padding: 10px;
  background: white;
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.buttons {
  width: 100vw;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.satoshi-btn {
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.mc-carthy-btn {
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.tesla-btn {
  right: 0%;
  top: 44%;
}
.pausch-btn {
  top: 44%;
}

#video {
  width: 100vw;
  height: 100%;
  position: absolute;
  transform: rotateY(180deg);
}

